@use "./base" as *;

/* Header */
.header {
	&__inner {
		height: 10rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}

	&.scrolled {
		background: #000;
	}
}

.mobile-header {
	display: none;
}

.navbar {
	&__list {
		display: flex;
		align-items: center;
	}

	&-item {
		&:hover &__link {
			color: red;
		}

		&__link {
			color: #fff;
			padding: 0 1.6rem;
			transition: ease 0.3s;
			display: inline-block;
			font-size: 1.8rem;
			opacity: 1;
			@include textShadow;
		}
	}
}

.bar-icon {
	color: #fff;
	height: 4rem;
	width: 4rem;
	display: none;
}

.menu-overlay {
	position: fixed;
	inset: 0;
	background: rgba($color: #000000, $alpha: 0.3);
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: ease 0.3s;
}

.menu-drawer {
	position: fixed;
	inset: 0 30% 0 0;
	background: #000;
	z-index: 2;
	translate: -100% 0;
	transition: ease 0.3s;
}

.menu-checkbox:checked ~ .menu-overlay {
	opacity: 1;
	visibility: visible;
}

.menu-checkbox:checked ~ .menu-drawer {
	translate: 0;
}

/* Hero */
.hero {
	position: relative;

	&__img {
		width: 100vw;
		min-height: 100vh;
		object-fit: cover;
		object-position: 50% 50%;
		opacity: 0.5;
		pointer-events: none;

		&-media {
			background: #000;
		}
	}

	&__content {
		color: #fff;
		position: absolute;
		top: 40%;
		left: 50%;
		translate: -50% -40%;
		text-align: center;
		@include textShadow;
	}

	&__title {
		line-height: 1.5;

		font: {
			size: 6rem;
			weight: bold;
			family: "Pacifico", sans-serif;
		}
	}

	&__desc {
		margin-top: 3rem;
		font-size: 1.8rem;
		line-height: 1.5;
		font-weight: 500;
	}

	&__caption {
		margin-top: 2rem;
		font-style: italic;
	}
}

/* About */
.about {
	@include createBg("/assets/img/about-bg-01.jpg");
	@extend %propertyBg;
	padding: 10rem 0;
	min-height: 100%;

	&__img {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	&__caption {
		margin-top: 3rem;
	}

	&__desc {
		margin-top: 1.6rem;
		text-align: justify;
	}
}

/* Feature */
.feature {
	@include createBg("/assets/img/about-bg-03.jpg");
	@extend %propertyBg;
	position: relative;
	min-height: 100vh;

	&__content {
		width: 100vw;
		text-align: center;
		padding: 10rem 20vw;
		@extend %centerBlock;
		background: rgba($color: #000000, $alpha: 0.6);

		> * {
			@include textShadow;
			color: #fff;
		}
	}
}

/* Experience */
.experience {
	position: relative;
	@include createBg("/assets/img/experience-bg-01.jpg");
	@extend %propertyBg;
	min-height: 100vh;
	padding: 5rem 0;

	&__content {
		text-align: center;
		margin: 5rem 0;
	}

	&__media {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		grid-auto-rows: 10rem;
		gap: 1.6rem;
		grid-auto-flow: dense;

		&-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

/* Special */
.special {
	position: relative;
	@include createBg("/assets/img/delivery-bg-01.jpg");
	@extend %propertyBg;
	padding: 10rem 0;

	&__img {
		width: 50rem;
		height: 50rem;
		object-fit: cover;
	}

	&__content {
		text-align: center;
		color: #fff;
	}

	&__list {
		margin-top: 5rem;
		display: flex;
		flex-direction: column;
		gap: 10rem;
	}

	&-item {
		display: flex;
		justify-content: center;
		&__img {
			width: 70rem;
			height: 50rem;
			object-fit: cover;
			object-position: 50% 50%;
		}

		&__content {
			width: 50rem;
			margin-left: -12rem;
			margin-top: 5rem;
			padding: 3rem;
			background: #fff;
		}
	}
}
