@use "./mixins" as *;

::-webkit-scrollbar {
	display: none;
}

html {
	font-family: "Inter", "Playwrite VN", sans-serif;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
}

input,
textarea,
button,
select {
	font-size: inherit;
	font-family: inherit;
}

a {
	text-decoration: none;
}

img {
	user-select: none;
	pointer-events: none;
}

.typing-effect {
	white-space: nowrap;
	overflow: hidden;
	border-right: 0.2rem solid #fff;
	width: 20ch;
	margin: 0 auto;
}

.red-text-color {
	color: red;
	display: inline-block;
}

.logo {
	font-size: 0.8rem;
	color: #fff;
	display: flex;
	align-items: center;
	column-gap: 1.5em;

	&__img {
		width: 8em;
		border-radius: 50%;
		object-fit: cover;
		background: #fff;
	}

	&__name {
		@include textShadow;
		font: {
			weight: 600;
			size: 2.5em;
			family: "Pacifico", sans-serif;
		}
		letter-spacing: 0.4em;
		line-height: 1.2;
	}
}

.section-heading {
	font: {
		family: "Pacifico", sans-serif;
		size: 2.8rem;
	}
	line-height: 2.2rem;
	margin-bottom: 1.1rem;
}
